body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input{
  margin: .5rem;
  padding: .5rem;
}

.cartVacio {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.cartVacio button{
  margin: .5rem;
  padding: .5rem;
  
}

.cart{
  max-width: 100%;
  height: 44vh;
  margin: 1rem;
  padding: 1rem;
}

.links{
  text-decoration: none;
  color: #F8EDEB;
  padding: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.itemCart{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;

}

.itemCenter{
  max-width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 1rem;
  align-items: center;
}

.footer {
  display: block;
  justify-content: end;
  background-color: #000;
  width: 100%;
  box-shadow: 0 -5px 6px rgba(0,0,0,0.5);
  z-index: 10000;
  margin-top: inherit;
}


#whatsapp:hover{
  color: rgb(37, 211, 102)
}

#twitter:hover{
  color: #1DA1F2
}

#instagram:hover{
  color: #f58529;
}

#facebook:hover{
  color: #1565c0
}

.formTotal{
  margin: 1rem .5rem 1rem .5rem;
  padding:1.5rem .5rem 1.5rem .5rem;
  background-color: #000;
  border: solid .2rem #F8ED;
  color: whitesmoke;
  box-shadow: 0 -5px 6px rgba(0,0,0,0.5);
}